<!-- Title for About Page -->
<% content_for :title, "DevMatch" %>

<div class="home-callout text-center container-fluid">
  <h1>Welcome to DevMatch</h1>
  <h3>A membership site where entrepreneurs cand meet developers.</h3>
</div>